<app-header></app-header>

<!-- Hero Section -->
<div class="hero-banner">
  <img src="/sale.jpeg" alt="Cover" class="hero-img" />

  <div class="hero-overlay">
    <h1 class="hero-title">Find Your Dream Apartment</h1>
    <p class="hero-subtitle">Browse apartments that match your lifestyle and budget</p>
  </div>
</div>

<!-- Filter Section -->
<div class="filter-bar">
  <div class="filter">
    <label>Min Price</label>
    <input type="number" [(ngModel)]="filterPriceMin" (input)="applyFilters()" placeholder="e.g. 1000" />
  </div>

  <div class="filter">
    <label>Max Price</label>
    <input type="number" [(ngModel)]="filterPriceMax" (input)="applyFilters()" placeholder="e.g. 10000" />
  </div>

  <div class="filter">
    <label>Location </label>
    <input type="text" [(ngModel)]="filterLocation" (input)="applyFilters()" placeholder="e.g. Ramallah" />
  </div>

  <div class="filter">
    <label>Min Area (sq ft)</label>
    <input type="number" [(ngModel)]="filterAreaMin" (input)="applyFilters()" placeholder="e.g. 500" />
  </div>

  <div class="filter">
    <label>Max Area (sq ft)</label>
    <input type="number" [(ngModel)]="filterAreaMax" (input)="applyFilters()" placeholder="e.g. 3000" />
  </div>

  <button class="reset-filters-btn" (click)="resetFilters()">🔄 Reset Filters</button>

</div>

  
  <!-- Apartment Listings Section -->
  <div class="listing-section">
    <!-- <h2>Available apartments for sale</h2> -->
    <div class="apartment-grid">
      <div class="apartment-card" *ngFor="let apartment of apartments">
        <div [routerLink]="['/apartment', apartment.id]" class="card-clickable">
          <div class="card-image">
            <img [src]="apartment.photos ? apartment.photos[0] : 'assets/default-image.jpg'" 
                 alt="Apartment image" class="card-img">
          </div>
          <h3>{{ apartment.city }} - {{ apartment.location }} ({{ apartment.unit_number }})</h3>
          <p><strong>Area:</strong> {{ apartment.area }} m²</p>
          <p><strong>Rooms:</strong> {{ apartment.number_of_rooms }}</p>
          <p><strong>Price:</strong> ${{ apartment.price }}</p>
          <div class="view-details-wrapper">
            <button class="view-details-btn">View Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  